<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/partners/appdynamics/index.html">AppDynamics APM for VMware Tanzu</a>
      </li>
      <li>
        <a href="/partners/appdynamics/release-notes.html">Release Notes</a>
      </li>
      <li>
        <a href="/partners/appdynamics/installing.html">Installing and Configuring AppDynamics APM</a>
      </li>
      <li>
        <a href="/partners/appdynamics/using.html">Using AppDynamics</a>
      </li>
      <li>
        <a href="/partners/appdynamics/kpi_dashboard.html">Using AppDynamics KPI Dashboard</a>
      </li>
      <li>
        <a href="/partners/appdynamics/upgrades.html">Upgrades</a>
      </li>
      <li>
        <div data-role="collapsible">
        <h4>AppDynamics 1.x.x Documentation (Deprecated)</h4>
          <ul data-role="listview"> 
            <li>
              <a href="/partners/appdynamics/installing_1_x.html">Installing</a>
            </li>
            <li>
              <a href="/partners/appdynamics/database_monitoring.html">Database Monitoring</a>
            </li>
            <li>
              <a href="/partners/appdynamics/upgrade_to_1_0_1.html">Upgrading to AppDynamics APM 1.0.1</a>
            </li>
            <li>
              <a href="/partners/appdynamics/upgrade_to_1_1_1.html">Upgrading to AppDynamics APM 1.1.1</a>
            </li>
            <li>
              <a href="/partners/appdynamics/upgrade_to_1_1_2.html">Upgrading to AppDynamics APM 1.1.2</a>
            </li>
            <li>
              <a href="/partners/appdynamics/upgrade_to_1_2.html">Upgrading to AppDynamics APM 1.2</a>
            </li>
            <li>
              <a href="/partners/appdynamics/upgrade_to_1_2_1.html">Upgrading to AppDynamics APM 1.2.1</a>
            </li>
            <li>
              <a href="/partners/appdynamics/upgrade_to_1_2_2.html">Upgrading to AppDynamics APM 1.2.2</a>
            </li>
            <li>
              <a href="/partners/appdynamics/upgrade_to_1_2_4.html">Upgrading to AppDynamics APM 1.2.4</a>
            </li>
          </ul>
        </div>
      </li>
</ul>
</div>
</div><!--end of sub-nav-->
