<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/partners/altoros-logsearch/index.html">Altoros Log Search for VMware Tanzu</a>
      </li>

      <li>
        <a href="/partners/altoros-logsearch/installing.html">Installing and Configuring Altoros Log Search for VMware Tanzu</a>
      </li>

      <li>
        <a href="/partners/altoros-logsearch/using.html">Using Altoros Log Search for VMware Tanzu</a>
      </li>
      
      <li>
        <a href="/partners/altoros-logsearch/logs-parsing.html">Parsing Logs with Altoros Log Search for VMware Tanzu</a>
      </li>
      
      <li>
        <a href="/partners/altoros-logsearch/scaling.html">Scaling Altoros Log Search for VMware Tanzu</a>
      </li>
      
      <li>
        <a href="/partners/altoros-logsearch/resources.html">Altoros Log Search for VMware Tanzu Resources</a>
      </li>
      
      <li>
        <a href="/partners/altoros-logsearch/troubleshooting.html">Troubleshooting Altoros Log Search for VMware Tanzu</a>
      </li>
      
      <li>
        <a href="/partners/altoros-logsearch/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
