<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/partners/apigee/index.html">Apigee Edge Service Broker for VMware Tanzu</a>
      </li>
      <li>
        <a id='home-nav-link' href="/partners/apigee/release-notes.html">Release Notes</a>
      </li>
      <li>
        <a id='home-nav-link' href="/partners/apigee/overview.html">Apigee Edge for VMware Tanzu Architecture</a>
      </li>
      <li>
        <a id='home-nav-link' href="/partners/apigee/installing.html">Installing and Configuring Apigee Edge for VMware Tanzu</a>
      </li>
      <li>
        <a id='home-nav-link' href="/partners/apigee/proxying-microgateway.html">Proxying a VMware Tanzu App (Microgateway Plan)</a>
      </li>
      <li>
        <a id='home-nav-link' href="/partners/apigee/proxying-microgateway-coresident.html">Proxying a VMware Tanzu App (Microgateway-Coresident Plan)</a>
      </li>
      <li>
        <a id='home-nav-link' href="/partners/apigee/proxying-org.html">Proxying a VMware Tanzu App (Org Plan)</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
