<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>

      <li>
        <a id='home-nav-link' href="/partners/instana/index.html">Instana Microservices Application Monitoring for Pivotal Platform</a>
      </li>

      <li>
        <a href="/partners/instana/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/partners/instana/installing.html">Installing and Configuring Instana Microservices Application Monitoring for Pivotal Platform</a>
      </li>

      <li>
        <a href="/partners/instana/using.html">Using Instana Microservices Application Monitoring for Pivotal Platform</a>
      </li>

    </ul>
  </div>
</div><!--end of sub-nav-->
