<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/partners/minio/index.html">Minio for PCF</a>
      </li>

      <li>
        <a href="/partners/minio/architecture.html">Architecture Guide</a>
      </li>

      <li>
        <a href="/partners/minio/operator-guide.html">Operator Guide</a>
      </li>

      <li>
        <a href="/partners/minio/developer-guide-create.html">Developer Guide - Create Minio Instance</a>
      </li>

      <li>
        <a href="/partners/minio/developer-guide-access.html">Developer Guide - Access Minio Instance</a>
      </li>

      <li>
        <a href="/partners/minio/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
