<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/partners/pega/index.html">Pega for PCF</a>
      </li>

      <li>
        <a href="/partners/pega/installing.html">Installing and Configuring Pega for PCF</a>
      </li>

      <li>
        <a href="/partners/pega/using.html">Deploying Pega Platform clusters</a>
      </li>

      <li>
        <a href="/partners/pega/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
