<div id="sub-nav" class="deepnav-content js-deep-nav js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <span class="topic">
          <a id='home-nav-link' href="/partners/ruxit/index.html">Dynatrace Ruxit Service Broker for Pivotal Platform</a>
        </span>
      </li>
      <li>
          <span><a href="/partners/ruxit/installing.html">Installing the Dynatrace Ruxit Service Broker Tile</a></span>
      </li>
     </ul>
    </div>
</div>
