<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/partners/vmware-harbor/index.html">VMware Harbor Registry (Beta)</a>
      </li>

      <li>
        <a href="/partners/vmware-harbor/installing.html">Installing and Configuring VMware Harbor Registry</a>
      </li>

      <li>
        <a href="https://docs.pivotal.io/pivotalcf/1-12/opsguide/docker-registry.html#ops-man">Integrating VMware Harbor Registry with PAS</a>
      </li>

      <li>
        <a href="/partners/vmware-harbor/intergrating-pks.html">Integrating VMware Harbor Registry with PKS</a>
      </li>

      <li>
        <a href="/partners/vmware-harbor/using.html">Using VMware Harbor Registry</a>
      </li>

      <li>
        <a href="/partners/vmware-harbor/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
