// Declare your book-specific variable overrides in this file.
//
// For example:
//
// $navy: #333333;

$global_header_bg_color: #00a79d !important;

$color-accent: #00a79d !important;
$color-accent-bright: #00a79d !important;

// link colors
$color-link: #00a79d !important;
$color-link-border: #00a79d !important;

$color-border-tip: #00a79d !important;

$color-bg-header: #00a79d !important;
$color-bg-dark: #00a79d !important;