// Variables that use the values defined in partials/_book-base-values.scss
// and/or partials/_vars.scss

$global_header_bg_color: #00a79d;
$global_header_pivotal_logo: ""; 
$global_header_pivotal_logo_height: 0px;
$global_header_pivotal_logo_width: 0px;